<%= link_to '回到產品頁', products_path %>
<table class="bordered">
  <% @cart.items.each do |item| %>
    <tr>
      <td><%= item.product.name %></td>
      <td><%= item.qty %></td>
      <td><%= item.product.price %></td>
      <td><%= item.price %></td>
    </tr>
  <% end %>
</table>
<%= link_to '訂購', orders_path, method: :post %><br>
<%= link_to '清空購物車', cart_path, method: :delete %>