 <h1>商品頁面</h1>
 <div class="row">
  <div class="col s7">
    <table>
      <% @products.each do |product| %>
        <tr>
          <td><%= product.name %></td>
          <td><%= product.price %></td>
          <td><%= link_to '加入購物車', add_cart_path(product), method: "post", class: "btn btn-xs btn-danger" %></td>
        </tr>
      <% end %>
    </table>
  </div>
  <div class="col s5">
    <table class="bordered">
      <% @cart.items.each do |item| %>
        <tr>
          <td><%= item.product.name %></td>
          <td><%= item.qty %></td>
          <td><%= item.product.price %></td>
          <td><%= item.price %></td>
        </tr>
      <% end %>
    </table>
    <%= link_to '查看購物車', cart_path, class: "waves-effect waves-light btn" %>
  </div>
</div>

