<!DOCTYPE html>
<html>
  <head>
    <title>Shop</title>
    <%= csrf_meta_tags %>

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <% if notice %>
        <p><%= notice %></p>
      <% end %>
      <% if alert %>
        <p><%= alert %></p>
      <% end %>
      <p><%= link_to '首頁', root_path %></p>
      <% if user_signed_in? %>
        <p><%= link_to '訂單管理', orders_path %></p>
        <p><%= link_to 'logout', destroy_user_session_path, method: :delete %></p>
      <% else %>
        <p><%= link_to 'login', new_user_session_path %></p>
      <% end %>
      <%= yield %>
    </div>
  </body>
</html>
