<!DOCTYPE html>
<html>
  <head>
    <title>Shop</title>
    <%= csrf_meta_tags %>

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav>
      <div class="nav-wrapper">
        <%= link_to 'SHOP', root_path, class: "brand-logo" %>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <% if user_signed_in? %>
            <li><a><%= link_to '訂單管理', orders_path %></a></li>
            <li><a><%= link_to '登出', destroy_user_session_path, method: :delete %></a></li>
          <% else %>
            <li><a><%= link_to '登入', new_user_session_path %></a></li>
          <% end %>
        </ul>
      </div>
    </nav>
    <div class="container">
      <% if notice %>
        <div class="card-panel">
          <span class="blue-text text-darken-2"><%= notice %></span>
        </div>
      <% end %>
      <% if alert %>
        <div class="card-panel">
          <span class="blue-text text-darken-2"><%= alert %></span>
        </div>
      <% end %>
      <%= yield %>
    </div>
  </body>
</html>
